@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.poppin {
  font-family: "Poppins", sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}
